<!-- Footer Start -->
<div class="row footer">

  <!-- Row Rgba Start -->
  <div class="row rgba padding-top-20">

    <!-- Wrapper Start -->
    <div class="wrapper960 center">

      <!-- About Row Start -->
      <div class="row padding-v-40 tablet-padding">

        <!-- Item Start -->
        <div class="col-3">
          <h4 class="text-blue text300 padding-bottom-10">Company</h4>
          <ul class="href-text-gray hover-href-text-underline">
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Policies</a></li>
            <li><a href="#">Terms & Privacy</a></li>
          </ul>
        </div>
        <!-- Item End  -->

        <!-- Item Start -->
        <div class="col-3">
          <h4 class="text-blue text300 padding-bottom-10">Support</h4>
          <ul class="href-text-gray hover-href-text-underline">
            <li><a href="#">Support Links</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Support Blog</a></li>
            <li><a href="#">Support Policies</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
        <!-- Item End -->

        <!-- Item Start -->
        <div class="col-6">

          <h4 class="text-blue padding-v-20 text300">Subscribe To News Letter</h4>

          <!-- Search Right Start  -->
          <form class="form l blue fill-white col-10">
            <div class="addon-append">
              <input class="border-transparent" type="text" placeholder="Subscribe To News Letter">
              <span class="append btn border-transparent">
            <button>Subscribe Now</button>
          </span>
            </div>
          </form>
          <!-- Search Right End  -->
        </div>
        <!-- Item Start -->

      </div>
      <!-- About Row End -->

      <!-- Social Start -->
      <div class="row social button-center padding-v-20">

        <a href="#" class="btn icon border blue round hover-tooltip margin-right">
          <span class="tooltip top">Twitter</span>
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="btn icon border blue round hover-tooltip margin-right">
          <span class="tooltip top">Facebook</span>
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="btn icon border blue round hover-tooltip margin-right">
          <span class="tooltip top">Linkedin</span>
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#" class="btn icon border blue round hover-tooltip margin-right">
          <span class="tooltip top">Google</span>
          <i class="fa fa-google"></i>
        </a>
        <a href="#" class="btn icon border blue round hover-tooltip margin-right">
          <span class="tooltip top">Instagram</span>
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#" class="btn icon border blue round hover-tooltip margin-right">
          <span class="tooltip top">Pinterest</span>
          <i class="fa fa-pinterest"></i>
        </a>

        <p class="text-center text-gray padding-v-20">Created by Mikel Garcia</p>

      </div>
      <!-- Social End -->

    </div>
    <!-- Wrapper End -->

  </div>
  <!-- Row Rgba End -->

</div>
<!-- Footer End -->