<!-- Content Start -->
<div class="wrapper960 center padding-v-40 tablet-padding">
  <div class="row padding-v-40 tablet-padding-top col-gutter-20 js-cities">
    <center>
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </center>
    <!-- Item Start -->
    <!-- <div class="col-4">
      <div class="bg">
        <img src="https://nomadlist.com/assets/img/cities/bangkok-thailand-500px.jpg" alt="">
        <div class="bg-text">
          <p class="wifi"><i class="fa fa-wifi" aria-hidden="true"></i> 40 Mbps.</p>
          <h3 class="citi">Bangkok</h3>
          <p>thailand</p>
          <p class="weather"><i class="fa fa-cloud" aria-hidden="true"></i> 35ºC</p>
          <p class="salary">1000<i class="fa fa-eur" aria-hidden="true"></i></p>
        </div>
        <div class="overlay">
          <div class="row">
            <div class="col-4">
              <p>Cost</p>
              <p>Weather</p>
              <p>Air</p>
              <p>Fun</p>
              <p>Safety</p>
            </div>
            <div class="col-8">
              <p class="progressbar"><span class="real-progressbar" style="background: blue;width: 60%;"></span></p>
              <p class="progressbar"><span class="real-progressbar" style="background: green;width: 80%;"></span></p>
              <p class="progressbar"><span class="real-progressbar" style="background: red;width: 20%;"></span></p>
              <p class="progressbar"><span class="real-progressbar" style="background: red;width: 40%;"></span></p>
              <p class="progressbar"><span class="real-progressbar" style="background: blue;width: 60%;"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Item End -->

  </div>
</div>
<!-- Content End