<div class="hide js-lng"><%= @lng %></div>
<div class="hide js-lat"><%= @lat %></div>
<div class="row">
  <div class="col-5">
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
  </div>
  <div class="col-7 padding-10 cards-scrool">
    <div class="row gutter-col-20 js-houses-list-search">
      <center>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </center>
    </div>
  </div>
</div>