<% if flash[:notice] %>
  <p class="alert info">
    <%= flash[:notice] %>
    <a href="#" class="close">close</a>
  </p>
<% end %>
<% if flash[:success] %>
  <p class="alert success">
    <%= flash[:success] %>
    <a href="#" class="close">close</a>
  </p>
<% end %>
<% if flash[:error] %>
  <p class="alert danger">
    <%= flash[:error] %>
    <a href="#" class="close">close</a>
  </p>
<% end %>