<!-- Modal -->
<div class="modal" id="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <a href="#" class="btn-close" aria-hidden="true">×</a>
    </div>
    <div class="modal-body js-modal-body">
    </div>
  </div>
</div>
<!-- /Modal -->